.player {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
    align-items: center;

    &__btn {
        position: absolute; 
        top: 15px;
        left: 20px;
    }

    &__visualizer {
        position: absolute; 
        top: 80px;
        left: 20px;

        img {
            width: 100%;
            opacity: 0.5;
        }
    }
}

.time {
    display: flex;
    column-gap: 20px;
    position: relative;

    &__start,
    &__end {
        position: absolute;
        top: -13px;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.005em;
    }

    &__start {
        left: -70px;
    }

    &__end {
        right: -70px;
    }

    &__range {
        width: 352px;
    }
}

.controls {
    display: flex;
    column-gap: 50px;

    .btn {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow:  5px 5px 10px #bebebe,
                     -5px -5px 10px #ffffff;
        border: 1px solid #fff;
        border-radius: 50%;

        &:hover {
            background: linear-gradient(-40deg, #f0f0f0, #cacaca);
        }

        &:active {
                box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
        }
    }

    &__play-icon {
        width: 25px;
        height: 25px;
    }

    &__prev-icon,
    &__next-icon {
        width: 35px;
        height: 35px;
    }
}

.volume {
    padding: 0 10px;
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%) rotate(-90deg);
    background-color: #fff;
    border-radius: 15px;
    background: linear-gradient(225deg, #f0f0f0, #cacaca);
    box-shadow:  -5px 5px 10px #bebebe,
                 5px -5px 10px #ffffff;

    &__input {
        width: 80px;
    }

    span {
        display: inline-block;
        transform: rotate(90deg);
        font-size: 20px;
        color: #696969;
    }
}


// responsiveness ===============================
// medium devieces
@media screen and (max-width: 992px){
    .volume {
        right: 0;
    }
}

// mobile devieces
@media screen and (max-width: 768px){
    .time {
        padding-top: 40px;
        position: relative;
    
        &__start,
        &__end {
            position: absolute;
            top: 0;
        }
    
        &__start {
            left: 0;
        }
    
        &__end {
            right: 0;
        }
    }

    .volume {
        display: none;
    }
}
